################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Carsties/CopilotIndices/17.12.38.29086/CodeChunks.db
/.vs/Carsties/CopilotIndices/17.12.38.29086
/.vs/Carsties/FileContentIndex
/.vs/Carsties/v17
/src/AuctionService/bin/Debug/net9.0
/src/AuctionService/obj
/.vs/Carsties/config
/AuctionService/obj/Debug/net8.0
/AuctionService/obj
