################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Carsties/CopilotIndices/17.12.38.29086/CodeChunks.db
/.vs/Carsties/CopilotIndices/17.12.38.29086
/.vs/Carsties/FileContentIndex
/.vs/Carsties/v17
/src/AuctionService/bin/Debug/net9.0
/src/AuctionService/obj
/.vs/Carsties/config
/AuctionService/obj/Debug/net8.0
/AuctionService/obj
/AuctionService/bin/Debug/net8.0/cs
/AuctionService/bin/Debug/net8.0/de
/AuctionService/bin/Debug/net8.0/es
/AuctionService/bin/Debug/net8.0/fr
/AuctionService/bin/Debug/net8.0/it
/AuctionService/bin/Debug/net8.0/ja
/AuctionService/bin/Debug/net8.0/ko
/AuctionService/bin/Debug/net8.0/pl
/AuctionService/bin/Debug/net8.0/pt-BR
/AuctionService/bin/Debug/net8.0/ru
/AuctionService/bin/Debug/net8.0/tr
/AuctionService/bin/Debug/net8.0/zh-Hans
/AuctionService/bin/Debug/net8.0/zh-Hant
/AuctionService/bin/Debug/net8.0/appsettings.Development.json
/AuctionService/bin/Debug/net8.0/*
/AuctionService/bin/Debug/net8.0/AuctionService.deps.json
/AuctionService/bin/Debug/net8.0/AuctionService.dll
/AuctionService/bin/Debug/net8.0/AuctionService.exe
/AuctionService/bin/Debug/net8.0/AuctionService.pdb
/AuctionService/bin/Debug/net8.0/AuctionService.runtimeconfig.json
